@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary-background: #eeeeee;
  --border-background: #282C35;
  --foreground: #171717;
  --text-secondary: #8E96A4;
  --primary: #2BA666;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-border-background: var(--border-background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --secondary-background: #10141E;
    --foreground: #ededed;
    --border-background: #282C35;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}